$input-no-padding: 0;
$required-color: #F00;

.input-no-padding {
    padding: $input-no-padding;

    .form-group.col-md-3 {
        padding-left: $input-no-padding;
        padding-right: $input-no-padding;
    }
}

.required-mark {
    color: $required-color;
}

#recipe-view-description {
    padding: 1em;
    font-size: 1.15em;
    background: #f8f9fa;
    margin: 1.25em 1.15em;
}

.small-font-list {
    font-size: small;
    list-style: none;

    &.no-indent {
        padding: 0;
    }
}

.recipe-ingredient {
    margin: .5em 0;
}

.list-no-style {
    list-style: none;
    padding: 0;
    
    & > li {
        padding: .6em 1em;
    }
}
