.feathericons-font-size {
  height: 1em;
  width: 1em;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

.feathericons-w-1 {
  stroke-width: 1;
}

.feathericons-w-2 {
  stroke-width: 2;
}

.feathericons-w-3 {
  stroke-width: 3;
}

.feathericons-w-4 {
  stroke-width: 4;
}

.feathericons-r-45 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.feathericons-r-44 {
  -webkit-transform: rotate(44deg);
  transform: rotate(44deg);
}

.feathericons-r-43 {
  -webkit-transform: rotate(43deg);
  transform: rotate(43deg);
}

.feathericons-r-42 {
  -webkit-transform: rotate(42deg);
  transform: rotate(42deg);
}

.feathericons-r-41 {
  -webkit-transform: rotate(41deg);
  transform: rotate(41deg);
}

.feathericons-r-40 {
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

.feathericons-r-39 {
  -webkit-transform: rotate(39deg);
  transform: rotate(39deg);
}

.feathericons-r-38 {
  -webkit-transform: rotate(38deg);
  transform: rotate(38deg);
}

.feathericons-r-37 {
  -webkit-transform: rotate(37deg);
  transform: rotate(37deg);
}

.feathericons-r-36 {
  -webkit-transform: rotate(36deg);
  transform: rotate(36deg);
}

.feathericons-r-35 {
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

.feathericons-r-34 {
  -webkit-transform: rotate(34deg);
  transform: rotate(34deg);
}

.feathericons-r-33 {
  -webkit-transform: rotate(33deg);
  transform: rotate(33deg);
}

.feathericons-r-32 {
  -webkit-transform: rotate(32deg);
  transform: rotate(32deg);
}

.feathericons-r-31 {
  -webkit-transform: rotate(31deg);
  transform: rotate(31deg);
}

.feathericons-r-30 {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.feathericons-r-29 {
  -webkit-transform: rotate(29deg);
  transform: rotate(29deg);
}

.feathericons-r-28 {
  -webkit-transform: rotate(28deg);
  transform: rotate(28deg);
}

.feathericons-r-27 {
  -webkit-transform: rotate(27deg);
  transform: rotate(27deg);
}

.feathericons-r-26 {
  -webkit-transform: rotate(26deg);
  transform: rotate(26deg);
}

.feathericons-r-25 {
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
}

.feathericons-r-24 {
  -webkit-transform: rotate(24deg);
  transform: rotate(24deg);
}

.feathericons-r-23 {
  -webkit-transform: rotate(23deg);
  transform: rotate(23deg);
}

.feathericons-r-22 {
  -webkit-transform: rotate(22deg);
  transform: rotate(22deg);
}

.feathericons-r-21 {
  -webkit-transform: rotate(21deg);
  transform: rotate(21deg);
}

.feathericons-r-20 {
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}

.feathericons-r-19 {
  -webkit-transform: rotate(19deg);
  transform: rotate(19deg);
}

.feathericons-r-18 {
  -webkit-transform: rotate(18deg);
  transform: rotate(18deg);
}

.feathericons-r-17 {
  -webkit-transform: rotate(17deg);
  transform: rotate(17deg);
}

.feathericons-r-16 {
  -webkit-transform: rotate(16deg);
  transform: rotate(16deg);
}

.feathericons-r-15 {
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}

.feathericons-r-14 {
  -webkit-transform: rotate(14deg);
  transform: rotate(14deg);
}

.feathericons-r-13 {
  -webkit-transform: rotate(13deg);
  transform: rotate(13deg);
}

.feathericons-r-12 {
  -webkit-transform: rotate(12deg);
  transform: rotate(12deg);
}

.feathericons-r-11 {
  -webkit-transform: rotate(11deg);
  transform: rotate(11deg);
}

.feathericons-r-10 {
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}

.feathericons-r-9 {
  -webkit-transform: rotate(9deg);
  transform: rotate(9deg);
}

.feathericons-r-8 {
  -webkit-transform: rotate(8deg);
  transform: rotate(8deg);
}

.feathericons-flip-h {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.feathericons-flip-v {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.alert > .alert-icon {
  width: 1.5em;
  height: 1.5em;
  line-height: inherit;
  margin-right: 0.5em;
  margin-top: -0.175em;
}

.navbar-dark .nav-link.nav-link-with-no-link {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .nav-link.nav-link-with-no-link:hover {
  color: rgba(255, 255, 255, 0.75);
}

.navbar-dark .nav-link.nav-link-light {
  color: rgba(255, 255, 255, 0.75);
}

.navbar-dark .nav-link.nav-link-light:hover {
  color: #FFF;
}
