{% extends "layout.html" %}
{% set active_page = "recipes-add" %}
{% set ns = namespace(unit_group_no=-1) %}

{% block body %}
<h1>Lisää resepti</h1>
<p>
    <span class="required-mark">*</span> = pakollinen kenttä
</p>
{% if error %}
<div class="alert alert-danger" id="main-error-alert" role="alert">
    <i data-feather="alert-circle" class="feathericons-font-size feathericons-w-2 alert-icon"></i> {{ error }}
</div>
{% endif %}
<form method="POST" action="{{ url_for('recipes_new') }}" role="form">
    <div class="form-group">
        {{ form.name.label }} <span class="required-mark">*</span>
        {{ form.name(class_="form-control") }}
    </div>
    <!-- Custom field -->
    <div class="col-md-6 mb-3 input-no-padding">
        <label for="recipe-cooking-time-hours">Valmistusaika</label> <span class="required-mark">*</span>
        <div class="form-inline">
            <div class="form-group col-md-3">
                <div class="input-group">
                    <input type="number" class="form-control" min="0" id="recipe-cooking-time-hours"
                        name="cooking-time-hours" required />
                    <div class="input-group-append">
                        <!-- An ugly hack to make "h" wider (compare to "min") -->
                        <span class="input-group-text">&nbsp;h&nbsp;</span>
                    </div>
                </div>
            </div>
            <span style="height: 1px; width: 1.25rem; display: inline-block;"></span>
            <div class="form-group col-md-3">
                <div class="input-group">
                    <input type="number" class="form-control" min="0" max="59" maxlength="2"
                        id="recipe-cooking-time-minutes" name="cooking-time-minutes" required />
                    <div class="input-group-append">
                        <span class="input-group-text">min</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group" id="recipe-material-list">
        Raaka-aineet
        <!-- Simple JavaScript based dynamic list -->
        <div class="list-item-auto-increment" data-item-template=".recipe-material">
            <div class="form-inline recipe-material">
                <div class="input-group col-8">
                    <input type="text" class="form-control list-item-auto-increment-trigger-input" placeholder="Raaka-aineen nimi">
                </div>
                <div class="input-group col-2">
                    <input type="number" class="form-control" placeholder="Määrä">
                    <div class="input-group-append">
                        <span class="input-group-text recipe-material-unit"></span>
                    </div>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle material list</span>
                        </button>
                        <div class="dropdown-menu value-output recipe-material-unit-list" data-value-output=".recipe-material-unit">
                            {% for unit in units %}
                            <a class="dropdown-item recipe-material-unit-list-item" data-value="{{ unit.nimi }}" href="javascript:;">
                                {% if not unit.nimi %}
                                Ei yksikköä
                                {% else %}
                                {{ unit.nimi }}
                                {% endif %}
                            </a>
                            
                            {% if unit.ryhma_nro != ns.unit_group_no %}
                            {% set ns.unit_group_no = unit.ryhma_nro %}
                            <div role="separator" class="dropdown-divider"></div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul id="material-info" class="form-text text-muted small-font-list no-indent">
            <li>Uudet kentät uusille raaka-aineille ilmestyvät automaattisesti.</li>
            <li>Tyhjiä rivejä (= rivit, joissa raaka-aineen nimi on tyhjä) ei huomioida mutta raaka-aineita tulee olla vähintään yksi.</li>
            <li>Sama raaka-aine voi esiintyä listassa vain kerran.</li>
            <li>Raaka-aineen määrä ja määrän yksikkö ovat vapaaehtoisia, koska on tilanteita, joissa raaka-aineen lisäys voi olla esim. "maun mukaan" tms..</li>
        </ul>
    </div>
    <div class="form-group">
        {{ form.recipe.label }} <span class="required-mark">*</span>
        {{ form.recipe(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.description.label }} <span class="required-mark">*</span>
        {{ form.description(class_="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Lisää resepti</button>
</form>
{% endblock %}